<a href="https://colab.research.google.com/github/DocMonster7/NoSQL_DB_Example/blob/master/No_SQL_DB's.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Key-Value DB

In this Example we will be using Firebase RealTime Database to demonstrate Key Value pairs

## Initialing the DB

In [ ]:
!pip install firebase_admin

In [ ]:
import firebase_admin
from firebase_admin import db

cred_obj = firebase_admin.credentials.Certificate('/content/db-testing-ba7f5-firebase-adminsdk-8r602-69183da56e.json')
databaseURL="https://db-testing-ba7f5-default-rtdb.firebaseio.com"

default_app = firebase_admin.initialize_app(cred_obj, {
	'databaseURL':databaseURL
	})

In [ ]:
ref = db.reference("/")

## Sending The Data

In [ ]:
data = {
	"Book1":
	{
		"Title": "The Fellowship of the Ring",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100
	},
	"Book2":
	{
		"Title": "The Two Towers",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100	
	},
	"Book3":
	{
		"Title": "The Return of the King",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100
	},
	"Book4":
	{
		"Title": "Brida",
		"Author": "Paulo Coelho",
		"Genre": "Fiction",
		"Price": 100
	}
}

In [ ]:
ref.set(data)

In [ ]:
data_1 = [
	
	{
		"Title": "The Fellowship of the Ring",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100
	},

	{
		"Title": "The Two Towers",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100	
	},

	{
		"Title": "The Return of the King",
		"Author": "J.R.R. Tolkien",
		"Genre": "Epic fantasy",
		"Price": 100
	},

	{
		"Title": "Brida",
		"Author": "Paulo Coelho",
		"Genre": "Fiction",
		"Price": 100
	}
]

In [ ]:
for book in data_1:
  ref.child("books").push(book)

## Retriving the data

In [ ]:
book = ref.child("Book1").get()
print(book)

{'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}

In [ ]:
books = ref.child("books").get()
print(books)

{'-N2pkdfgrEtKl4zT38GW': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Fellowship of the Ring'}, '-N2pkdicMSXgT1BDzkp-': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Two Towers'}, '-N2pkdotItm1Tyuepdqm': {'Author': 'J.R.R. Tolkien', 'Genre': 'Epic fantasy', 'Price': 100, 'Title': 'The Return of the King'}, '-N2pkdriux9RDsafn0iH': {'Author': 'Paulo Coelho', 'Genre': 'Fiction', 'Price': 100, 'Title': 'Brida'}}

In [ ]:
for key,value in books.items():
  print(str(key)+" : "+str(value['Title']))

-N2pkdfgrEtKl4zT38GW : The Fellowship of the Ring
-N2pkdicMSXgT1BDzkp- : The Two Towers
-N2pkdotItm1Tyuepdqm : The Return of the King
-N2pkdriux9RDsafn0iH : Brida

## Updating The Data

In [ ]:
ref.child('Book1').update({"Price":400})

## Deleting

In [ ]:
ref.child('Book2').set({})

# Document DB

In [ ]:
import firebase_admin
from firebase_admin import credentials
from firebase_admin import firestore

cred = credentials.Certificate('/content/db-testing-ba7f5-firebase-adminsdk-8r602-69183da56e.json')
firebase_admin.initialize_app(cred)

db = firestore.client()

## Sending Data

In [ ]:
ref = db.collection("users").document("clarkkent_08")
ref.set({"name":"Clark Kent","username":"clarkkent_08","occupation":"Journalist"})

update_time {
  seconds: 1653391590
  nanos: 159637000
}

In [ ]:
ref = db.collection("users").document("batman098")
ref.set({"name":"Bruce Wayne","username":"batman098","occupation":"Trust Fund Child"})

update_time {
  seconds: 1653391703
  nanos: 790965000
}

In [ ]:
users =[{
    "name" : "Barry Alan",
},
{
    "name" : "Martian Manhunter",
},
{
    "name" : "Corey Taylor",
},
{
    "name" : "David Gilmore",
},
{
    "name" : "Lisa Su",
},
{
    "name" : "Adam West",
},


]

In [ ]:
for user in users:
  ref = db.collection("unkown").document()
  ref.set(user)

## Retriving Data

In [ ]:
ref = db.collection('users')
docs = ref.stream()
for doc in docs:
  print(doc.to_dict())
  print(doc.id)

{'occupation': 'Trust Fund Child', 'name': 'Bruce Wayne', 'username': 'batman098'}
batman098
{'name': 'Clark Kent', 'username': 'clarkkent_08', 'occupation': 'Journalist'}
clarkkent_08

## Deleting

### Documents

In [ ]:
db.collection('users').document('batman098').delete()

seconds: 1653392902
nanos: 198282000

In [ ]:
db.collection('users').document('clarkkent_08').update({'occupation':firestore.DELETE_FIELD})

update_time {
  seconds: 1653393030
  nanos: 971568000
}